
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
    // modify your style here
    // eg: background-color: blue;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Yu-Gothic-UI";
      font-size: 1.2em;
    }
  
    body {
      font-family: "Yu-Gothic-UI";
    }
    [class*="language"] {
      font-family: "MyricaM M";
    }
    .task-list-item-checkbox {
      font-family: "Yu-Gothic-UI";
      font-size: smaller;
    }
    /**以下の部分**/
    h1 {
      counter-reset: chapter;
      font-size: 1.8em;
      border-style: solid;
      border-width: 0 0 1px 0;
    }
    h2 {
      counter-reset: sub-chapter;
      font-size: 1.5em;
    }
    h3 {
      counter-reset: section;
    }
  
    h2::before {
      counter-increment: chapter;
      content: counter(chapter) ". ";
    }
    h3::before {
      counter-increment: sub-chapter;
      content: counter(chapter) "." counter(sub-chapter) ". ";
    }
    h4::before {
      counter-increment: section;
      content: "(" counter(section) ") ";
    }
  }